<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>CV</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Job-point Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="static/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="static/font-awesome.css" rel="stylesheet">
      <!-- //font-awesome icons -->
      <!--stylesheets-->
      <link href="static/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Mukta+Malar:400,500,600,700" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
   </head>
   <body>
      <div class="header-outs" id="header">
         <!--banner -->
         <div class="header-w3layouts">
            <!--//navigation section -->
            <nav class="navbar navbar-expand-lg navbar-light">
               <div class="hedder-up">
                  <h1><a class="navbar-brand" href="/">Cv Ranking and Screening</a></h1>
               </div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                  <ul class="navbar-nav ">
                     <li class="nav-item ">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                        <a href="/about" class="nav-link ">About</a>
                     </li>
                     <li class="nav-item active">
                        <a href="/contact" class="nav-link">Contact Us</a>
                     </li>
                     <li class="nav-item">
                        <a href="/signup" class="nav-link">Register</a>
                     </li>
                     <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                     </li>
                  </ul>
                  
               </div>
            </nav>
            <!--//navigation section -->
            <div class="clearfix"> </div>
         </div>
      </div>
      <!--//headder-->
      <!-- banner -->
      <div class="inner_page-banner one-img">
      </div>
      <!--//banner -->
      <!-- short -->
      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a href="/">Home</a>
                  <span>/ /</span>
               </li>
               <li>Contact</li>
            </ul>
         </div>
      </div>
      <!-- //short-->
      <!--contact -->
      <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
           <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Contact Us</h3>
           <div class="row">
              <div class="col-lg-8 col-md-8">
                 <div class="info-para">
                    <!--contact-map -->
                    <form action="#" method="post">
                       <div class="row wls-contact-mid">
                          <div class="col-md-6 col-sm-6 form-group contact-forms">
                             <input type="text" class="form-control" name="first_name" placeholder="Fist Name" required>
                          </div>
                       </div>
                       <div class="row agile-wls-contact-mid">
                          <div class="col-md-6 col-sm-6 form-group contact-forms">
                             <input type="text" class="form-control" placeholder="Phone" required="">
                          </div>
                          <div class="col-md-6 col-sm-6 form-group contact-forms">
                             <input type="email" name="emailid" class="form-control" placeholder="Email" required="">
                          </div>
                       </div>
                       <div class="form-group contact-forms">
                          <textarea class="form-control" rows="3" name="message" placeholder="Message.." required></textarea>
                       </div>
                       <div class="text-left click-subscribe">
                          <button type="submit" name="email" class="btn btn-block click-me">Send</button>
                       </div>
                    </form>
                 </div>
              </div>
              <div class="col-lg-4 col-md-4 contact-right ">
                 <div class="mb-lg-5 mb-md-4 mb-sm-3 mb-3 footer_grid_left text-center">
                    <div class="contact_footer_grid_left text-center mb-3">
                       <span class="fa fa-map-marker"></span>
                    </div>
                    <p>National College of Engineering , Talchikhel<br> lalitpur</p>
                 </div>
                 <div class="mb-lg-5 mb-md-4 mb-sm-3 mb-3 footer_grid_left text-center">
                    <div class="contact_footer_grid_left text-center mb-3">
                       <span class="fa fa-phone"></span>
                    </div>
                    <p>01-553345</p>
                 </div>
                 <div class="footer_grid_left text-center">
                    <div class="contact_footer_grid_left text-center mb-3">
                       <span class="fa fa-envelope"></span>
                    </div>
                    <p><a href="mailto:binit@gmail.com.com">Cv@gmail.com</a>
                    </p>
                 </div>
              </div>
           </div>
        </div>
     </section>
      

      
      <!--//Register-->
      <!--js working-->
      <script src="static/jquery-2.2.3.min.js"></script>
      <!--//js working-->
      <!-- start-smoth-scrolling -->
      <script src="static/move-top.js"></script>
      <script src="static/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <!--bootstrap working-->
      <script src="static/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>